p {
  font-family: "Montserrat", sans-serif;
}

.model-tt {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

.touch-tt {
  text-decoration: underline;
}

.order-tt {
  text-align: center;
  margin: 0;
}
